body{
	background-color:#8FBC8F;
	}
div.container{
	width:844px;
	margin:1px auto;
	font-size:14px;
	background-color:#3CB371;
	font-family:sans-serif;
}

small{
	font-size:14px;
	color:gray;
	text-transform:lowercase;
}
h1{
	font-family:Arial,sans-serif;
	color:#000033;
	font-size:36px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;	
}
h2{
	font-family:Arial,sans-serif;
	color:#0000cc;
	font-size:32px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;	
}
h3{
	font-family:Arial,sans-serif;
	color:Black;
	font-size:28px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;	
}
h4{
	font-family:Arial,sans-serif;
	color:#4d4dff;
	font-size:24px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;	
}
h5{
	font-family:Arial,sans-serif;
	color:#b3b3ff;
	font-size:20px;
	text-align:left;
	margin-left:10px;
	margin-right:10px;	
}
hr{
	border-width:1px;
	margin:1px;
	padding:0px;
}
hr.linha{
	border-color:red;
}
hr.linha_azul{
	border-color:blue;
}
h1.titulo{
	border-width:2px;
	border-left-color:black;
	border-left-style:solid;
	border-bottom-color:black;
	border-bottom-style:solid;
	background-color:gray;
	color:white;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:15px;
	text-transform:uppercase;
}
h2.subtitulo{
	border-width:2px;
	border-bottom-color:black;
	border-bottom-style:solid;
	background-color:gray;
	color:white;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:15px;
	text-transform:uppercase;	
}
h3.subtitulo{
	border-width:2px;
	border-bottom-color:black;
	border-bottom-style:dotted;
	background-color:gray;
	color:white;	
}
table.horarios,table.horarios tr, table.horarios tr td, table.horarios tr th{
	border-width:1px;
	border-style:solid;
	border-color:black;
	width:100%;
	border-collapse:collapse;
}
table.horarios tr td, table.horarios tr th{
	padding:15px;
}	
table.horarios th {
	text-align:left;
}	
table.horarios td{
	text-align:center;
}
table.horarios caption{
	font-weight:bolder;
	color:cornflowerblue;
	text-align:right;
	padding-bottom:10px;
}
table.horarios tr th{
	background-color:purple;
	color:antiquewhite;
	font-weight:lighter;
	padding:5px;
	border:none;
}
table.horarios tr:nth-child(even){
	background-color:#ff01ff;
}
table.horarios tr:nth-child(odd){
	background-color:#00ff01;
}
table.horarios tr:hover{
	background-color:#ff0000;
}
table.horarios tr, table.horarios td, table.horarios th{
	border:none;	
}
ol.menuhorizontal{
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#2E8B57;
	overflow:hidden;
}
ol.menuhorizontal li{
	float:left;
}
ol.menuhorizontal li a{
	display:block;
	color:white;
	text-align:center;
	padding:16px;
	text-decoration:none;
}
ol.menuhorizontal li a:hover{
	background-color:#111111;
}
img.menu {
	width:30px;
}
img.perfil{
	width:60px;
}
iframe#frmalvo{
	width:99%;
	height:600px;
	border-radius:12px;
	box-shadow:4px 4px 14px #000;
	margin:20px auto;
}
img.imagem{
	width:300px;
}